In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv (r"D:\Python\AirQualityUCI.csv",na_values=-200,na_filter=True)

In [ ]:
df.head

<bound method NDFrame.head of            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     3/10/2004  18:00:00     2.6       1360.0     150.0      11.9
1     3/10/2004  19:00:00     2.0       1292.0     112.0       9.4
2     3/10/2004  20:00:00     2.2       1402.0      88.0       9.0
3     3/10/2004  21:00:00     2.2       1376.0      80.0       9.2
4     3/10/2004  22:00:00     1.6       1272.0      51.0       6.5
...         ...       ...     ...          ...       ...       ...
9466        NaN       NaN     NaN          NaN       NaN       NaN
9467        NaN       NaN     NaN          NaN       NaN       NaN
9468        NaN       NaN     NaN          NaN       NaN       NaN
9469        NaN       NaN     NaN          NaN       NaN       NaN
9470        NaN       NaN     NaN          NaN       NaN       NaN

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9466            NaN      NaN           NaN      NaN           NaN
9467            NaN      NaN           NaN      NaN           NaN
9468            NaN      NaN           NaN      NaN           NaN
9469            NaN      NaN           NaN      NaN           NaN
9470            NaN      NaN           NaN      NaN           NaN

      PT08.S5(O3)     T    RH      AH  Unnamed: 15  Unnamed: 16
0          1268.0  13.6  48.9  0.7578          NaN          NaN
1           972.0  13.3  47.7  0.7255          NaN          NaN
2          1074.0  11.9  54.0  0.7502          NaN          NaN
3          1203.0  11.0  60.0  0.7867          NaN          NaN
4          1110.0  11.2  59.6  0.7888          NaN          NaN
...           ...   ...   ...     ...          ...          ...
9466          NaN   NaN   NaN     NaN          NaN          NaN
9467          NaN   NaN   NaN     NaN          NaN          NaN
9468          NaN   NaN   NaN     NaN          NaN          NaN
9469          NaN   NaN   NaN     NaN          NaN          NaN
9470          NaN   NaN   NaN     NaN          NaN          NaN

[9471 rows x 17 columns]>

In [ ]:
df=df.drop(['Unnamed: 15'],axis=1)
df=df.drop(['Unnamed: 16'],axis=1)

In [ ]:
#we can see that the last rows have mostly none values
df.dropna(how='all',inplace=True)
df.dropna(thresh=10,axis=0,inplace=True)

In [ ]:
df

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,4/4/2005,10:00:00,3.1,1314.0,NaN,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,4/4/2005,11:00:00,2.4,1163.0,NaN,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,4/4/2005,12:00:00,2.4,1142.0,NaN,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,4/4/2005,13:00:00,2.1,1003.0,NaN,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,4/4/2005,14:00:00,2.2,1071.0,NaN,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [ ]:
df.shape

(8991, 15)

In [ ]:
df.isnull

<bound method DataFrame.isnull of            Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     3/10/2004  18:00:00     2.6       1360.0     150.0      11.9
1     3/10/2004  19:00:00     2.0       1292.0     112.0       9.4
2     3/10/2004  20:00:00     2.2       1402.0      88.0       9.0
3     3/10/2004  21:00:00     2.2       1376.0      80.0       9.2
4     3/10/2004  22:00:00     1.6       1272.0      51.0       6.5
...         ...       ...     ...          ...       ...       ...
9352   4/4/2005  10:00:00     3.1       1314.0       NaN      13.5
9353   4/4/2005  11:00:00     2.4       1163.0       NaN      11.4
9354   4/4/2005  12:00:00     2.4       1142.0       NaN      12.4
9355   4/4/2005  13:00:00     2.1       1003.0       NaN       9.5
9356   4/4/2005  14:00:00     2.2       1071.0       NaN      11.9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9355          961.0    235.0         702.0    156.0        1041.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH
0          1268.0  13.6  48.9  0.7578
1           972.0  13.3  47.7  0.7255
2          1074.0  11.9  54.0  0.7502
3          1203.0  11.0  60.0  0.7867
4          1110.0  11.2  59.6  0.7888
...           ...   ...   ...     ...
9352       1729.0  21.9  29.3  0.7568
9353       1269.0  24.3  23.7  0.7119
9354       1092.0  26.9  18.3  0.6406
9355        770.0  28.3  13.5  0.5139
9356        816.0  28.5  13.1  0.5028

[8991 rows x 15 columns]>

In [ ]:
df.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,7344.000000,8991.000000,887.000000,8991.000000,8991.000000,7396.000000,8991.000000,7393.000000,8991.000000,8991.000000,8991.000000,8991.000000,8991.000000
mean,2.129711,1099.833166,218.607666,10.083105,939.153376,242.189292,835.493605,112.145137,1456.264598,1022.906128,18.317829,49.234201,1.025530
std,1.436472,217.080037,206.615130,7.449820,266.831429,206.312007,256.817320,47.629141,346.206794,398.484288,8.832116,17.316892,0.403813
min,0.100000,647.000000,7.000000,0.100000,383.000000,2.000000,322.000000,2.000000,551.000000,221.000000,-1.900000,9.200000,0.184700
25%,1.100000,937.000000,66.000000,4.400000,734.500000,97.000000,658.000000,77.000000,1227.000000,731.500000,11.800000,35.800000,0.736800
50%,1.800000,1063.000000,145.000000,8.200000,909.000000,178.000000,806.000000,109.000000,1463.000000,963.000000,17.800000,49.600000,0.995400
75%,2.800000,1231.000000,297.000000,14.000000,1116.000000,321.000000,969.500000,140.000000,1674.000000,1273.500000,24.400000,62.500000,1.313700
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,333.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8991 non-null   object
 1   Time           8991 non-null   object
 2   CO(GT)         7344 non-null   float64
 3   PT08.S1(CO)    8991 non-null   float64
 4   NMHC(GT)       887 non-null    float64
 5   C6H6(GT)       8991 non-null   float64
 6   PT08.S2(NMHC)  8991 non-null   float64
 7   NOx(GT)        7396 non-null   float64
 8   PT08.S3(NOx)   8991 non-null   float64
 9   NO2(GT)        7393 non-null   float64
 10  PT08.S4(NO2)   8991 non-null   float64
 11  PT08.S5(O3)    8991 non-null   float64
 12  T              8991 non-null   float64
 13  RH             8991 non-null   float64
 14  AH             8991 non-null   float64
dtypes: float64(13), object(2)
memory usage: 1.1+ MB

In [ ]:
df["hour"]=df['Time'].apply(lambda x: int(x.split(':')[0]))
df=df.drop(["Time"],axis=1)

In [ ]:
df.shape[0]-df.count()

Date                0
CO(GT)           1647
PT08.S1(CO)         0
NMHC(GT)         8104
C6H6(GT)            0
PT08.S2(NMHC)       0
NOx(GT)          1595
PT08.S3(NOx)        0
NO2(GT)          1598
PT08.S4(NO2)        0
PT08.S5(O3)         0
T                   0
RH                  0
AH                  0
hour                0
dtype: int64

In [ ]:
ds , ms , ys = [],[],[]

for row in df['Date']:
    d,m,s=list(map(int, row.split('/')))
    ds.append(d)
    ms.append(m)
    ys.append(s)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8991 entries, 0 to 9356
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8991 non-null   object
 1   CO(GT)         7344 non-null   float64
 2   PT08.S1(CO)    8991 non-null   float64
 3   NMHC(GT)       887 non-null    float64
 4   C6H6(GT)       8991 non-null   float64
 5   PT08.S2(NMHC)  8991 non-null   float64
 6   NOx(GT)        7396 non-null   float64
 7   PT08.S3(NOx)   8991 non-null   float64
 8   NO2(GT)        7393 non-null   float64
 9   PT08.S4(NO2)   8991 non-null   float64
 10  PT08.S5(O3)    8991 non-null   float64
 11  T              8991 non-null   float64
 12  RH             8991 non-null   float64
 13  AH             8991 non-null   float64
 14  hour           8991 non-null   int64
dtypes: float64(13), int64(1), object(1)
memory usage: 1.1+ MB

In [ ]:
df["Day"] = ds
df["Month"] = ms
df["Year"] = ys
df = df.drop("Date", axis=1)

In [ ]:
df['CO(GT)']=df['CO(GT)'].fillna(df.groupby(['Month','hour'])['CO(GT)'].transform('mean'))
df['NOx(GT)']=df['NOx(GT)'].fillna(df.groupby(['Month','hour'])['NOx(GT)'].transform('mean'))
df['NO2(GT)']=df['NO2(GT)'].fillna(df.groupby(['Month','hour'])['NO2(GT)'].transform('mean'))

In [ ]:
df=df.drop(['NMHC(GT)'],1)

C:\Users\MY\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [ ]:
df['CO(GT)']=df['CO(GT)'].fillna(df.groupby(['hour'])['CO(GT)'].transform('mean'))
df['NOx(GT)']=df['NOx(GT)'].fillna(df.groupby(['hour'])['NOx(GT)'].transform('mean'))
df['NO2(GT)']=df['NO2(GT)'].fillna(df.groupby(['hour'])['NO2(GT)'].transform('mean'))

In [ ]:
#import pandas_profiling as pp
#pp.ProfileReport(df)

In [ ]:
#our data is fully preprocesed
#Now we encode our data
x=df.drop(['RH'],axis=1)
y=df["RH"]

In [ ]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [ ]:
x_f=ss.fit_transform(x)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(x_f,y,test_size=0.3, random_state=42)

In [ ]:
# Implementation Of linear Regression

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

linear = LinearRegression()

linear.fit(X_train,y_train)

y_pred_linear=linear.predict(X_test)

mse= mean_squared_error(y_test,y_pred_linear)
print(f"error:{mse}")

error:34.80582257217045

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
 
rf=RandomForestRegressor(n_estimators=200, random_state=43)
rf.fit(X_train,y_train)

RandomForestRegressor(n_estimators=200, random_state=43)

In [ ]:
gb = GradientBoostingRegressor(n_estimators= 200 , random_state=43)
gb.fit(X_train,y_train)

GradientBoostingRegressor(n_estimators=200, random_state=43)

In [ ]:
y_pred1 = rf.predict(X_test)
y_pred2 = gb.predict(X_test)

y_pred = (y_pred1 + y_pred2) / 2

In [ ]:
rf.score(X_test,y_test)

0.9982794757585582

In [ ]:
gb.score(X_test,y_test)

0.9938924059574116

In [ ]:

mean_squared_error(y_pred,y_test)

0.7863868344109795

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_pred,y_test)

0.6341534644464538

In [ ]:
#feature selection 

#ensemble method

#hyperparameter selection

#and other method for finding better accuracy